streamlit>=1.36,<2
networkx>=3.2,<4
pandas>=2.2,<3
pyvis>=0.3,<1
mkdocs>=1.5,<2
mkdocs-material>=9.5,<10
mkdocs-git-authors-plugin>=0.7,<1
mkdocs-git-revision-date-localized-plugin>=1.2,<2
mkdocs-macros-plugin>=1.0,<2

